body{
 background-image: url(http://www.4usky.com/data/out/26/164208019-death-note-wallpapers.jpg);
}
#HomoAssembly{
background-color:#4E8DF5
colo:#ffffff;
padding:15px;
margin: 15px;
border: 7px solid #D85346
}
a{
 color:green;
}
 h3{
 color:pink 
 }
 #sas {
 color:red;
 }
 a1{
 color:red;
 }